
.svn/
build/
dist/
*.jasm
*.trc
*.mea
doc-files/
/target/
/IcomManager/target/
/nmea-router/target/
/nmea-router/nbproject/
/parser/nbproject/
/viewer/target/
/viewer/nbproject/
/HTML5ApplicationTEst/nbproject/private/
/HTML5Application/nbproject/private/
/nmea-server/target/
/nmea-server/nbproject/
/nmea-server/src/main/resources/web/flag-icons-main/
/NMEA Application/nbproject/private/
